<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Alta Liga</h1>
<label>Nombre liga
    <input type="text" id="nombre_liga">
</label>
<br>
<label>Temporada
    <input type="text" id="temporada">
</label>
<br>
<label>Categoria
    <input type="text" id="categoria">
</label>
<br>
<label>Descripcion
    <input type="text" id="descripcion">
</label>
<br>
<button onclick="grabar()">Crear liga</button>


<script>

    function grabar(){

var nombre=document.getElementById("nombre_liga").value;
var temporada=document.getElementById("temporada").value;
var categoria=document.getElementById("categoria").value;
var descripcion=document.getElementById("descripcion").value;
// relative path from this HTML to the controller
var url = "../../app/controller/insert.php?entidad=ligas&nombre_liga="+encodeURIComponent(nombre)+"&temporada="+encodeURIComponent(temporada)+"&categoria="+encodeURIComponent(categoria)+"&descripcion="+encodeURIComponent(descripcion);
var xhr= new XMLHttpRequest(); 
xhr.open("GET",url,true);
xhr.send();
xhr.onreadystatechange=function (){
if (xhr.readyState==4 && xhr.status==200){
    try {
        var res = JSON.parse(xhr.responseText);
        if (res.success) {
            alert('Liga creada, id: ' + res.id);
        } else {
            alert('Error: ' + res.message);
        }
    } catch (e) {
        alert('Respuesta inesperada: ' + xhr.responseText);
    }
    //window.close();
}

}


}
</script>

</body>
</html>